
.navbar {
    height: 50px;
    border-radius: 2px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 15px;
    font-style: italic;
    gap: 20px;
    border: none;
    text-transform: uppercase;

    .navbar button {
           font-size: 24px !important;     /* ✔️ Bada text */
      font-weight: 900 !important;    /* ✔️ Mota/chauda text */
      letter-spacing: 2px;
      text-transform: uppercase;
      padding: 15px 30px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    
}

.container{
    margin: 10px;
    padding: 10px;
}

.button{
     font-size: 40px;
    font-family: sans-serif;
    margin: 10px;
    height: 100px;
    width: 100px;
    display: inline-block;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 5px;
    flex-wrap: wrap;
}

p {
  font-size: 24px; /* Text ka size 24 pixels hoga */
}


/* Color buttons styling */
#grey {
    background-color: grey;
}

#white {
    background-color: white;
    border: 2px solid black; /* for visibility */
}

#blue {
    background-color: blue;
}

#yellow {
    background-color: yellow;
}

/* Center the h1 */
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
  background-color: #ddd;
}

